services:
  grafana:
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
    container_name: 'grafana-itself'
    build:
      args:
        grafana_version: ${GRAFANA_VERSION:-12.2.0-17253726931}
        grafana_image: ${GRAFANA_IMAGE:-grafana}
    environment:
      GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: /etc/grafana/provisioning/dashboards/cube-datasource-poc.json
      GF_FEATURE_TOGGLES_ENABLE: 'tableNextGen,queryLibrary,sqlExpressions,dashboardDsAdHocFiltering,adhocFiltersInTooltips'
    depends_on:
      - cube

  cube:
    image: cubejs/cube:latest@sha256:78cad1c52bac7e2c959620b09e9d61bef99118ca80b76b0f01745314b08cbd08
    ports:
      - 4000:4000
      - 15432:15432
    volumes:
      - ./dev-environment/cube:/cube/conf
    depends_on:
      - postgres

  postgres:
    image: postgres:18@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: jaffle_shop
    ports:
      - '5432:5432'
    volumes:
      - ./dev-environment/data/seeds/:/data/seeds/
      - ./dev-environment/data/migrations/init.sql:/docker-entrypoint-initdb.d/init.sql
    # Enable SQL queries in the logs (minimal output)
    command:
      [
        'postgres',
        '-c',
        'log_statement=all',
        '-c',
        'log_line_prefix=',
        '-c',
        'log_duration=off',
        '-c',
        'log_parameter_max_length=0',
      ]
